<div>
  {{#if cart.products.length}}
  <h1>Detalles del carrito</h1>
  <section class="container">
    <ul>
      {{#each cart.products}}
      <li>
        <p>Producto: {{this.idProduct.title}}</p>
        <p>Descripción: {{this.idProduct.description}}</p>
        <p>Precio: {{this.idProduct.price}}</p>
        <p>Categoria: {{this.idProduct.category}}</p>
        <p>Cantidad: {{this.quantity}}</p>
      </li>
      {{/each}}
    </ul>
    <br>
    <button onclick="realizarCompra('{{cart.cartId}}')"> Comprar </button>
  </section>
  {{else}}
  <p>No products found.</p>
  {{/if}}
</div>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="/../public/js/compra.js"></script>