<h1>Perfil</h1>

Nombre:
{{user.firstName}} {{user.lastName}}
<br />
Edad:
{{user.age}}
<br />
Ultima Conexión: {{user.last_connection}}
<br />
{{#if user.role === "premium"}}
{{#each user.documents}}
<br />
{{this.name}}: {{this.reference}}
<br />
{{/each}}
{{/if}}

<br />
<section>
  <form class="form-custom" action="/api/users/{{user._id}}/documents" method="post" enctype="multipart/form-data">
    <label for="identificacion">Identificación:</label>
    <input type="file" name="identificacion" id="identificacion"><br>

    <label for="comprobanteDomicilio">Comprobante de domicilio:</label>
    <input type="file" name="comprobanteDomicilio" id="comprobanteDomicilio"><br>

    <label for="comprobanteEstadoCuenta">Comprobante de estado de cuenta:</label>
    <input type="file" name="comprobanteEstadoCuenta" id="comprobanteEstadoCuenta"><br>

    <button type="submit">Subir archivos</button>
  </form>
</section>
<br />
<a href='/realtimeproducts'>Crear Productos<a>
    {{#if user.isAdmin}}
    <a href="/api/users">Panel de Usuarios</a>
    {{/if}}
    <a href="/products">Volver a los Productos</a>
    <br />
    <a href='/api/session/logout'>Salir!</a>