<div>
  <h3>{{title}}</h3>
  <p>Descripción: {{description}}</p>
  <p>Precio: {{price}}</p>
  <p>Categoría: {{category}}</p>
  <p>Stock: {{stock}}</p>
  <img src="/public/{{picture}}" alt="">
  <button class="btn-agregar" onclick="handleAgregarButtonClick('{{_id}}')">Agregar al carrito</button>
</div>