
<div class="cart" data-cart-id="{{cart}}">
  <h3>{{product.title}}</h3>
  <p>Descripción: {{product.description}}</p>
  <p>Precio: {{product.price}}</p>
  <p>Categoría: {{product.category}}</p>
  <p>Stock: {{product.stock}}</p>
  <img src="/public/{{product.picture}}" alt="">
  <button class="btn-agregar" onclick="handleAgregarButtonClick('{{product._id}}')">Agregar al carrito</button>
</div>
<br>
<a href="/products">Volver a Home</a>
<br>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="/../public/js/productDetail.js"></script>